.disp {
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 10px;
    background-color: #ffffff;
    width: 70%;
    height: 205px;
    text-align: center;
    border-radius: 4px;
    font-size: 15px;
    display: flex;
  align-items: center;
  justify-content: center;
  
}

body {
  text-align: center;
  color:black;
  font-family: "Questrial", sans-serif;
  background-color: #ffec63;
  background-image: linear-gradient(
      45deg,
      #ffd966 25%,
      transparent 25%,
      transparent 75%,
      #ffd966 75%,
      #ffd966
    ),
    linear-gradient(
      -45deg,
      #ffd966 25%,
      transparent 25%,
      transparent 75%,
      #ffd966 75%,
      #ffd966
    );
  background-size: 60px 60px;
  background-position: 0 0;
  animation: slide 4s infinite linear;
}

.button {
  color:inherit;
    font-family:inherit;
  font-size: inherit;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

.button:last-child {
  margin: 0;
}

.button:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.button:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}