* {
  background-color: #3C1742;
  font-family: 'Poppins', sans-serif;
}
body {
  color: #F3FFB9;
  font-weight: bold;
  text-align: center;
}
img {
  align-content: center;
  width: 150px;
  length: 150px;
}