@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300&display=swap');

div .test {
	padding-bottom: 15px;
}

div {
	padding-top: 8px;
}


@media only screen and (min-width: 1000px) {
	.body {
		width: 60%;
		margin: 0 20%;
		display: flex;
		flex-wrap: wrap;
	}
	.test{
		width: 50%;
	}
}

/*Header style begins*/
.header-container {
	width: 100%;
	border-radius: 5px;
	background-color: #124E78;
	display: inline-block;
	position: relative;
}

#header {
	padding: 25px;
	color: white;
	font-family: sans-serif;
	font-family: 'RocknRoll One', sans-serif;
	font-weight: 100;
	font-size: 200%;
	text-align: center;
	vertical-align: middle;
}

/*Header style ends*/

/*Main output box style begins*/
.main-box {
	margin: 0 auto;
	border-radius: 6px;
	width: 50%;
	padding: 40px;
	text-align: center;
	background-color: #bbddc9;
}

h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}

.test div,
.test div div {
	font-family: 'Antonio', sans-serif;
	;
	font-size: 1.5rem;
	margin-top: 1rem;
	color: #2895ad;
}

p span {
	font-weight: bold;
	text-decoration: underline;
}

input {
	font-size: 1.1rem;
	padding: .2rem;
	border-radius: 5px;
	margin-bottom: 10px;
}

button {
	padding: 0.5rem;
	cursor: pointer;
	background: #009090;
	border: none;
	color: white;
	width: 10rem;
	border-radius: 5px;
	transition: all .4s;
}

button:hover {
	background: #24252a;
}

/*Main output box style ends*/
