@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

/*General CSS styling for the page*/
body {
	background-image: url(https://wallpapercave.com/wp/wp5339483.jpg);
	background-size: cover;

}

/*Header CSS starts*/
.header-container {
	width: 100%;
	border-radius: 5px;
	background-color: #124E78;
	display: inline-block;
	position: relative;
}

.header-title {
	padding: 25px;
	color: white;
	font-family: sans-serif;
	font-family: 'RocknRoll One', sans-serif;
	font-weight: 100;
	font-size: 230%;
	text-align: center;
	vertical-align: middle;
}

/*Header CSS ends*/

/*General input box style begins*/
.main-box {
	margin: 0 auto;
	height: auto;
	border-radius: 6px;
	width: 50%;
	padding: 40px;
	text-align: center;
	background-color: #b4c4d4;
}


.header {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	font-weight: 700;
	padding-bottom: 1.5rem;
	color: 5e6472;
}


button {
	padding: 0.5rem;
	cursor: pointer;
	background: #009090;
	border: none;
	color: white;
	width: 10rem;
	border-radius: 5px;
	transition: all .4s;
}

@media only screen and (max-width: 1000px) {
	button {
		width: 10rem;
    margin-top: 10px;
	}
}
/*General input box style ends*/

/*Main button styling begins. The following code, "disappear" is for the first button that pops up*/
#disappear {
	padding: 0.77rem;
	cursor: pointer;
	font-size: 15px;
	font-family: Poppins;
	background: #009090;
	border: none;
	color: white;
	width: 10rem;
	border-radius: 5px;
	transition: all .4s;
}

#disappear:hover {
	background: #24252a;
}

button:hover {
	background: #24252a;
}

/*Main button styling ends.*/

/*Form input box styling begins*/
/*The form-box starts off with an opacity of 0 to make it invisible.*/
.form-box {
	opacity: 0;
}

/*Appear animation begins. When the JS function is triggered, a new class is added called appear-function which undergoes the following animation which makes it visible*/
.appear-function {
	animation: appear 2s;
}

.appear-function input {
	margin: 0 auto;
	padding: 7px;
	width: 40%;
	height: 1.9rem;
	border: dashed 2px;
	border-radius: 4px;
}

@keyframes appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/*Appear animation ends*/
/*Form input box styling ends*/

/*Output message styling begins*/
#outputMessage {
	padding-top: 25px;
	color: #f4f4f6;
	font-family: sans-serif;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	font-size: 200%;
	text-align: center;
	vertical-align: middle;
}

/*Right answer output color*/
#right {
	color: green;
}

/*Wrong answer output color*/
#wrong {
	color: red;
}

/*Output message styling ends*/


/*Main container handling output is styled*/
.container {
	position: relative;
	width: 50%;
	margin-left: 25%;
	margin-top: 2%;
}

.image {
	display: block;
	width: 50%;
	height: 50%;
	margin: 10px auto;
}

.overlay {
	position: absolute;
	top: 10%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 100%;
	max-width: 90%;
	opacity: 0;
	background: #008CBA;
	transition: 3s ease;
}

#prizeImage {
	max-width: 90%;
	max-height: auto;
}

.prizebox {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	padding-top: 1%;
	height: auto;
	max-height: 100%;
}

/*Prize reveal*/
.remove {
	animation: appear2 1.5s;
	opacity: 1;

}

@keyframes appear2 {
	0% {
		opacity: 0;
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/*Styling for output text*/
#message {
	width: 100%;
	text-align: center;
	bottom: 10;
}

.text {
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	font-size: 200%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	text-align: center;
	bottom: 10%;
}

/*Media query for size adjustments*/
@media only screen and (max-height: 800px) {
	.text {
		font-size: 1rem;
	}

	#outputMessage {
		font-size: 1.5rem;
		padding-top: 15px;
	}

	.image {
		display: block;
		width: 40%;
		height: 40%;
		margin: 10px auto;
	}
}


/*Magic box container and prize output style begins*/
/*The following CSS class is only activated upon the execution of myFunction() which adds a class to the mystery box div. The following code contains the animations.*/
/*As a part of the Javascript function, on click, the magic box is assigned an extra class, "shake", which subsequently activates the shaking animation*/
.shake {
	animation: shake 2s;
	animation-iteration-count: 1;
	opacity: 0;

}

/*This code is for the keyframed shaking animation*/
@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
		opacity: 1;
	}

	2.5% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	5% {
		transform: translate(3px, 2px) rotate(0deg);
	}

	7.5% {
		transform: translate(1px, -1px) rotate(1deg);
	}

	10% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	12.5% {
		transform: translate(-3px, 1px) rotate(0deg);
	}

	15% {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	17.5% {
		transform: translate(-1px, -1px) rotate(1deg);
	}

	20% {
		transform: translate(1px, 2px) rotate(0deg);
	}

	22.5% {
		transform: translate(1px, 1px) rotate(0deg);
	}

	25% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	27.5% {
		transform: translate(-3px, 0px) rotate(1deg);
	}

	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}

	32.5% {
		transform: translate(1px, -1px) rotate(1deg);
	}

	35% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	37.5% {
		transform: translate(-3px, 1px) rotate(0deg);
	}

	40% {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	42.5% {
		transform: translate(-1px, -1px) rotate(1deg);
	}

	45% {
		transform: translate(1px, 2px) rotate(0deg);
	}

	47.5% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	50% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	52.5% {
		transform: translate(3px, 2px) rotate(0deg);
	}

	55% {
		transform: translate(1px, -1px) rotate(1deg);
	}

	57.5% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}

	62.5 {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	65% {
		transform: translate(-1px, -1px) rotate(1deg);
	}

	67.5 {
		transform: translate(1px, 2px) rotate(0deg);
	}

	70% {
		transform: translate(1px, 1px) rotate(0deg);
	}

	72.5 {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	75% {
		transform: translate(-3px, 0px) rotate(1deg);
	}

	77.5 {
		transform: translate(3px, 2px) rotate(0deg);
	}

	80% {
		transform: translate(1px, -1px) rotate(1deg);
	}

	82.5 {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	85% {
		transform: translate(-3px, 1px) rotate(0deg);
	}

	87.5 {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	90% {
		transform: translate(-1px, -1px) rotate(1deg);
	}

	92.5 {
		transform: translate(1px, 2px) rotate(0deg);
	}

	95% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	97.5 {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	100% {
		opacity: 0;
	}
}

/*Shaking and fade in animation ends*/
/*Animation ends*/
/*Magic box container and zodiac output style ends*/


