@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

body {
	background-image: url("https://i.pinimg.com/originals/63/11/ed/6311edb6f3a600c9f4a23c35473788a4.jpg");
	background-size: cover;
}

/*Header style begins*/
.header-container {
	width: 100%;
	border-radius: 5px;
	background-color: #2c58a0;
	display: inline-block;
	position: relative;
}

.header-title {
	padding: 25px;
	color: white;
	font-family: sans-serif;
	font-family: 'RocknRoll One', sans-serif;
	font-weight: 100;
	font-size: 200%;
	text-align: center;
	vertical-align: middle;
}

/*Header style ends*/

/*Main output box style begins*/
.main-box {
	margin: 0 auto;
	border-radius: 6px;
	width: 50%;
	padding: 40px;
	text-align: center;
	background-color: #bfd7ea;
}

.header {
	font-family: 'Lemonada', cursive;
	font-weight: 600;
	font-size: 2rem;
	padding-bottom: 2rem;
}

#output {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 3rem;
	color: #086375;
}

input {
	font-size: 1.1rem;
	padding: .5rem;
	border-radius: 5px;
	margin-bottom: 10px;
}

button {
	padding: 0.5rem;
	margin: 15px;
	cursor: pointer;
	background: #009090;
	border: none;
	color: white;
	width: 10rem;
	border-radius: 5px;
	transition: all .4s;
	font-family: 'Lemonada', cursive;
}

button:hover {
	background: #24252a;
}

/*Main output box style ends*/
table {
	margin: 250px;
	border-style: ridge;
	margin: 0 auto;
	font-size: 2rem;
	font-family: 'Montserrat Alternates', sans-serif
}

th,
td {
	min-width: 200px;
	border: 1px solid #000;
}

@media screen and (max-width: 800px) {
	th,td {
		min-width: 20px;
	}
	table {
		font-family: serif;
		font-size: 16px;
	}
}
